<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISWLNVoluntier" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51956/SWLNVoluntier.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISWLNVoluntier"
        contract="SWLNVoluntier.ISWLNVoluntier" name="BasicHttpBinding_ISWLNVoluntier" />
    </client>
  </system.serviceModel>
</configuration>