.field {
    text-align: center;
}

.title {
    margin-top: 30px;
    padding: 10px;
    position: relative;
    width: 85%;
    margin: 20px auto;
}

.cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    text-align: center;
}

.link {
    text-decoration: none;
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: 20px;
    color: #64072D;
    cursor: pointer;
}

.lblTitle {
    color: #610828;
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: 27px;
    font-weight: bold;
}

.containerLista {
    width: 90%;
    margin: 2% auto;
}

.lblNotificacion {
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: small;
    font-weight: bold;
}

.camp-list {
    width: 96%;
    margin: 2% 2%;
    padding: 0px;
}

.camp-item {
    list-style-type: none;
    border: 1px solid #000;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    background-color: #E5E5E4;
    transition: background-color 0.3s;
    transition: margin 0.3s;
}

    .camp-item:hover {
        background-color: #FFFFFF;
        margin: 10px -5px 10px -5px;
    }

.lblTituloCampania {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 10px;
}

.lblDescripcion {
    margin-top: 5px;
    text-align: center;
}

.containerFechas {
    width: 95%;
    margin: 2% auto;
    background-color: #610828;
    text-align: center;
}

.fecha {
    background-color: #ffffff;
    padding: 5px;
}

.btnVer {
    margin-bottom: 10px;
    background-color: #610828;
    color: white;
    border: 2px solid #610828;
    font-weight: bold;
    padding: 5px;
}

.btnVer:hover
{
    cursor: pointer;
}