.field {
    text-align: center;
}

.title {
    margin-top: 30px;
    padding: 10px;
    position: relative;
    width: 85%;
    margin: 20px auto;
}

.cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    text-align: center;
}

.link {
    text-decoration: none;
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: 20px;
    color: #64072D;
    cursor: pointer;
}

.lblTitle {
    color: #610828;
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: 27px;
    font-weight: bold;
}

.containerLista {
    width: 90%;
    margin: 2% auto;
}

.estado {
    background-color: #E5E5E4;
    color: #64072D;
    margin: 10px 0px;
    padding: 10px;
    transition: background 1s, color 1s;
}

    .estado:hover {
        background-color: #64072D;
        color: white;
    }

.lblHoras {
    font-weight: bold;
}

.lblOpcion {
    color: #610828;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.divHoras {
    width: 100%;
    text-align: end;
}

.btnOpciones {
    width: 30%;
    margin: 10px 5px;
    background-color: #610828;
    color: white;
    border: 2px solid #610828;
    font-weight: bold;
    padding: 10px;
}

    .btnOpciones:hover {
        cursor: pointer;
    }
    
.lblNotificacion {
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: small;
    font-weight: bold;
}

.gridview {
    width: 96%;
    margin: 2% 2%;
}

.colTitulo {
    background-color: #610828;
    color: #FFFFFF;
}

.colCampania {
    width: 50%;
}

.colSolicitud {
    width: 20%;
}

.colHora {
    width: 10%;
}

.btnVer {
    width: 90%;
    height: 25px;
    background-color: #610828;
    color: #FFFFFF;
    border: 0px;
    padding: 5px;
    cursor: pointer;
}